<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Index || Iniciar sesi칩n</title>
</head>

<body>
    <img class="bg-img" src="../public/images/backgroundIniciarSesion.jpg" alt="">
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <h1 style="color: aliceblue;">Secci칩n Alumnos</h1>
            <h2 style="color: aliceblue;">Ingrese sus datos para acceder al sistema</h2>

            <form class="row g-3 mt-5">
                <div class="col-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Inserte su email">
                </div>
                <div class="col-6 form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Inserte su contrase침a">
                </div>
                <div class="col-12">
                    <a href="./registrarAlumno" class="btn btn-dark">Iniciar sesi칩n</a>
                </div>
            </form>
        </div>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>