
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <h1 class="navbar-brand">SPD-GESTIÓN</h1>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="./registrarAlumno">Registrar alumno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./listaAlumnos">Lista de alumnos registrados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./obtenerAlumno">Info completa de un alumno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  
  